.TodoCard {
  width: 50%;
}
.myCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgb(246, 231, 207);
  padding: 22px 30px;
}
.UpdatingOpt {
  width: 60px;
  display: flex;
  justify-content: space-between;
}
